<h4> Exercises </h4>
<ol>
{% for exercise in page.exercises %}
  {% assign exercise_loop = forloop %}
  {% for otherpage in site.pages %}
    {% if exercise == otherpage.title and page.language == otherpage.language and otherpage.layout == 'exercise' %}
      <li><h4><a href="{{ site.baseurl }}{{ otherpage.url }}">
        {% if page.points[exercise_loop.index0] == 'optional' %}
        <font color="000000">{{ otherpage.title | append: " (" }}{{page.points[exercise_loop.index0] | append: ")"}}</font></a></h4>
        {% elsif page.points[exercise_loop.index0] %}
        <font color="000000">{{ otherpage.title | append: " (" }}{{page.points[exercise_loop.index0] | append: " pts)"}}</font></a></h4>
        {% else %}
        <font color="000000">{{ otherpage.title }}</font></a></h4>
        {% endif %}
        {{ otherpage.content }}
        {% capture output_file %}{{ otherpage.url | remove: 'exercises' | remove: 'docs/templates'| remove: '/' | prepend: '/solutions/' }}{% endcapture %}
        {% for solution in site.static_files %}
          {% assign solution_path = solution.path | split: '.' | first %}
          {% assign size = solution_path | size | minus: 2 %}
          {% assign longer_size = solution_path | size | minus: 3 %}
          {% assign trunced_path = solution_path | slice: 0, size %}
          {% assign longer_trunced_path = solution_path | slice: 0, longer_size %}
          {% if solution_path == output_file or trunced_path == output_file or longer_trunced_path == output_file %}
            <font size="-1">[<a href="{{ solution.path | prepend: site.baseurl }}">click here for output</a>]</font>
          {% endif %}
        {% endfor %}
      </li>
    {% endif %}
  {% endfor %}
{% endfor %}
</ol>

<a href="{{ site.baseurl }}/materials/turn-in-checklist"> Assignment submission & checklist</a>
