<table>
  <tr>
    <th width="50">Week</th>
    <th width="220">Lesson</th>
    <th width="300">Material</th>
    <th width="50">Reading</th>
    <th width="50">Assignment</th>
  </tr>
  {% for assignment in page.assignments %}
    {% for otherpage in site.pages %}
      {% if otherpage.title == assignment and otherpage.subtitle != "Readings" %}
        {% capture assignment_link %}{{ otherpage.url | prepend: site.baseurl }}{% endcapture %}
        {% for readingpage in site.pages %}
          {% if readingpage.title == assignment and readingpage.subtitle == "Readings" %}
          {% capture reading_link %}{{ readingpage.url | prepend: site.baseurl }}{% endcapture %}
            <tr>
              <td align="right">{{ otherpage.week }}</td>
              <td>{{ otherpage.title }}</td>
              <td>{{ otherpage.subtitle }}</td>
              <td align="center"><a href="{{ reading_link }}">[X]</a></td>
              <td align="center"><a href="{{ assignment_link }}">[X]</a></td>
            </tr>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endfor %}
</table>
