<table>
  <tr>
    <th width="50">Week</th>
    <th width="200">Language</th>
    <th width="300">Lesson</th>
    <th width="50">Reading</th>
    <th width="50">Lecture</th>
    <th width="50">Assignment</th>
  </tr>
  {% for assignment in page.assignments %}
    <tr>
      <td align="right">{{ forloop.index }}</td>
      {% for otherpage in site.pages %}
        {% if otherpage.title == assignment and otherpage.element == 'assignment' %}
          <td>{{ otherpage.language }}</td>
          {% capture assignment_link %}{{ otherpage.url | prepend: site.baseurl }}{% endcapture %}
          {% for lecturepage in site.pages %}
            {% if lecturepage.title == assignment and lecturepage.element == 'lecture' and lecturepage.language == otherpage.language %}
              {% capture lecture_link %}{{ lecturepage.url | prepend: site.baseurl }}{% endcapture %}
              {% for readingpage in site.pages %}
                {% if readingpage.title == assignment and readingpage.element == 'reading' and readingpage.language == otherpage.language %}
                  {% capture reading_link %}{{ readingpage.url | prepend: site.baseurl }}{% endcapture %}
                  <td>{{ assignment }}</td>
                  <td align="center"><a href="{{ reading_link }}">
                    <i class="fa fa-book fa-lg"></i></a></td>
                  <td align="center"><a href="{{ lecture_link }}">
                    <i class="fa fa-comment fa-lg"></i></a></td>
                  <td align="center"><a href="{{ assignment_link }}">
                    <i class="fa fa-keyboard-o fa-lg"></i></a></td>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    </tr>
  {% endfor %}
</table>
